<header>
  <div class="container">
    <div class="navbar">
      <div class="logo">Legacy <span>Safaris</span> Ltd</div>
      <div class="hamburger" id="hamburger">
        <i class="fas fa-bars"></i>
      </div>
      <ul class="nav-links" id="navLinks">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="tours.html">Tours</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="destinations.html">Destinations</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
</header>